.form-control-w50 {
    width: 50% !important;
}

.form-control-w32 {
    width: 32% !important;
}

.form-control-w30 {
    width: 30% !important;
}

.form-control-w25 {
    width: 25% !important;
}

.form-control-w20 {
    width: 20% !important;
}

.form-control-w15 {
    width: 15% !important;
}

.form-control-w10 {
    width: 10% !important;
}

.form-control-w7 {
    width: 7% !important;
}

.form-control-w3 {
    width: 3% !important;
}